/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

li, ul, menu{
  /* list-style: none;*/
} 

img{
  width: 100%;
}

/* DEBUG */

.debug .app{
  border:10px solid red;
}

.debug section{
  border: 1px solid black;
}
/* LAYOUT */

body{
  color: white;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.app{
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

/* MENU */

header{
  width: 200px;
  background-color: black;
}

header.row{
  flex-direction:column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

/* CONTAINER */

.container{
  flex-grow: 1;
}

.container.row{
  flex-direction: column;
}

section{
  padding: 15px;
}

.call-to-a.row{
  justify-content: end;
  background-color: #0D121B;
}

a.button {
  line-height: width;
  padding: 12px 19px;
  background-color: white;
  color: black;
  border-radius: 200px;
}

.cards-section{
  flex-grow: 1;
  background-color: #131923;
}

.text-section{
  flex-grow: 4;
  background-color: #131923;
}

/* FOOTER */

ul.foot-menu, .foot-menu li{
  list-style: none;
  display: inline-block;
}

 footer .row{
  justify-content: space-between;
}

footer{
  padding: 20px 10px;
  color: white;
  background-color: #131923;
  bottom: 0;
}